<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--<section name="BeeConfig"
             type="GameLogic.Infrastructure.BeeConfigSection, GameLogic" 
             allowDefinition="Everywhere" 
             allowExeDefinition="MachineToApplication"
             />-->
  </configSections>
  
  <!--<BeeConfig>
    <bees>
      <add type="1" deduction="5" count="1" lifeSpan="10" />
      <add type="2" deduction="3" count="3" lifeSpan="5" />
      <add type="3" deduction="2" count="5" lifeSpan="3" />
    </bees>
  </BeeConfig>-->
  
  <appSettings>
    <add key="Test" value="ValueTest1"/>
  </appSettings>
</configuration>