<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="BeeConfig"
             type="GameLogic.Infrastructure.BeeConfigSection, GameLogic" 
             allowDefinition="Everywhere" 
             allowExeDefinition="MachineToApplication"
             />
  </configSections>

  <BeeConfig>
    <bees>
      <add type="queen" deduction="5" count="1" lifeSpan="10" />
      <add type="worker" deduction="3" count="3" lifeSpan="5" />
      <add type="drone" deduction="2" count="5" lifeSpan="3" />
    </bees>
  </BeeConfig>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  <appSettings>
    <add key="HostBaseUrl" value="http://localhost:9001/"/>
  </appSettings>
  
</configuration>